@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.logo span{
    color: #ea5455;
    text-shadow: 0 0 10px #cb4041;
}
.cancel{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}
.nav-container .links{
    display: flex;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #ea5455;
    transition: 0.2s linear;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .links a:hover{
    color: #ea5455;
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow:  0 0 20px black;
    transition: 0.2s linear;
}
.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    background-color: #ea5455;
}
section{
    width: 100%;
    height: fit-content;
    
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-container .image{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #ea5455;
}
.main-container .image img{
    width: 100%;
}
.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}
.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}
.content h1{
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}
.content h1 span{
    color:#ea5455;
    text-shadow: 0  0 10px #cb4041}
.content .typewriter{
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}
.content .typewriter-text{
    color: #ea5455;
    text-shadow: 0 0 10px #cb4041;
}
.content p{
    font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}
.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #cb4041;
    border-radius: 50%;
    color: #ea5455;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color: #ea5455;
    filter: drop-shadow(0 0 10px #ea5455);
}
.content button{
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #ea5455;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}
.content button:hover{
    scale: 1.1;
    color: #ea5455;
    border: 2px solid #ea5455;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #ea5455;
}
@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 10px;
        font-size: 1.5rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }

    .cancel{
        display: block;
    }
    .main-container .content{
        width: 80%;
    }
    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}
@media (max-width:440px){
    .main-container .image{
        width: 50%;
        height: 60%;
        margin-bottom: 0px;
    }
    .main-container .content{
        width: 80%;
    }
    .main-container button{
        margin-top: 15px;
    }

}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: fit-content;
}

h1 {
    text-align: center;
}

.project {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

.project h2 {
    margin: 0;
}

.project p {
    color: #555;
}

.project a {
    text-decoration: none;
    color: #007BFF;
}

.project a:hover {
    text-decoration: underline;
}

#sobremim{
    height: fit-content;
    margin-left: 970px;
    margin-top: -500px;
}

#mim{
   color: #fff;
}

#foto{
margin-left: 10px;
width: 20vh;
}

#belo{
width:  50vh;
margin-left: 280px;
margin-top: 160px;
border-radius: 20px;
border-color: #ea5455;
}

#pp {
    color: #fff;
}

#aaa {
    color: #fff;
}

#oba {
    height: fit-content;
    margin-left: -350px;
    margin-top: -199px;
    align-items: center;
}